@import "breakpoints";
@import "fonts";
@import "animation";

$title-font: "HarmoniaSansPro-Bold", Helvetica, Roboto, Arial, sans-serif;
$content-font: "HarmoniaSansPro-Regular", sans-serif;

body.has-DonationLightbox {
  overflow: hidden;
}
.foursiteDonationLightbox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
  width: 100vw;
  height: 100%;
  transition: top 0.4s ease-in-out;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  &.is-hidden {
    top: -100vh;
  }

  .dl-mobile-logo {
    display: none; /* temporarily hide the logo on mobile */
    position: absolute;
    top: 5px;
    left: 50%;
    width: 105px;
    z-index: 3000;
    transform: translateX(-50%);
    @include mq(desktop) {
      display: none;
    }
  }

  .dl-button-close {
    position: absolute;
    box-sizing: content-box;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    z-index: 1000;
    padding: 5px;
    background-color: #f6f7f8;
    display: block;
    @include mq(desktop) {
      top: 10px;
      right: 10px;
    }
    &:hover {
      &::before {
        transform: rotate(45deg) scale(1.5);
      }
      &::after {
        transform: rotate(-45deg) scale(1.5);
      }
      &::before,
      &::after {
        background-color: red;
      }
    }
    &::before,
    &::after {
      transition: 0.3s transform ease-in-out, 0.3s background-color ease-in-out;
      position: absolute;
      content: " ";
      height: 19px;
      width: 2px;
      background-color: #0a0a0a;
      left: 17px;
      top: 7px;
      @include mq(desktop) {
        background-color: #0a0a0a;
      }
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  .dl-close-viewmore {
    position: absolute;
    box-sizing: content-box;
    right: 4px;
    top: 10px;
    width: 25px;
    height: 25px;
    z-index: 1000;
    padding: 5px;
    border-radius: 4px;
    color: #0a0a0a;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s opacity ease-in-out;
    opacity: 0;
    svg {
      transform: rotate(270deg);
    }
  }
  .foursiteDonationLightbox-container {
    border-radius: 5px;
    width: 93%;
    height: auto;
    color: #4f606c;
    font-family: $content-font;
    line-height: 1;
    z-index: 1;
    position: relative;
    margin: auto;
    padding-top: 30px;
    @include mq(desktop) {
      max-width: 880px;
      height: 550px;
      padding-top: 0;
    }
    .dl-content {
      display: block;
      align-items: stretch;
      position: relative;
      height: 100%;
      @include mq(desktop) {
        display: flex;
        overflow: hidden;
      }
      .left {
        position: relative;
        display: none;
        width: 100%;
        box-sizing: content-box;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        overflow: hidden;
        .dl-hero {
          display: block;
          width: 100%;
          position: relative;
          transition: 0.3s transform ease-in-out;
          overflow: hidden;
          min-height: 380px;
          object-fit: cover;
          video {
            display: block;
            width: 100%;
            min-height: 386px;
            transition: 0.3s transform ease-in-out;
            object-fit: cover;
          }
          .btn-play {
            position: absolute;
            width: 84px;
            height: 84px;
            bottom: 20px;
            right: 84px;
            background-color: rgba(191, 229, 245, 0.7);
            backdrop-filter: blur(10px);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
            cursor: pointer;
            svg {
              color: #fff;
              transition: opacity 0.6s ease-in-out;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              &.pause-svg {
                opacity: 0;
              }
            }
            transition: 0.3s transform ease-in-out;
            &:hover {
              transform: translateY(-10px);
            }
          }
        }

        .dl-divider {
          position: absolute;
          bottom: 169px;
          //transform: translateY(calc(-99% + 2px));
          width: 100%;
          z-index: 10;
          transition: 0.3s margin-top ease-in-out, 0.3s transform ease-in-out,
            0.3s opacity ease-in-out;
        }
        .dl-container {
          height: 100%;
          &:hover {
            .dl-container-inner {
              transform: translateY(-5px);
              .dl-paragraph::after {
                transform: translateY(5px);
              }
            }
            .dl-divider {
              //transform: scale(1.05) translateY(calc(-100% - -2px));
              transform: scale(1.05) translateY(-2px);
            }
            .dl-viewmore {
              opacity: 1;
            }
          }
          &.playing {
            .dl-divider {
              //transform: translateY(100%);
            }
            .btn-play {
              .pause-svg {
                opacity: 1;
              }
              .play-svg {
                opacity: 0;
              }
            }
          }
          &.paused {
            .dl-divider {
              transform: translateY(0%);
            }
          }
        }
        .dl-celebration {
          position: absolute;
          top: -700px;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #eff6fe;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          z-index: 2000;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: top 0.4s ease-in-out;
        }
        .dl-container-inner {
          margin: 0;
          padding: 20px 40px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          top: 380px;
          transition: 0.6s top ease-in-out, 0.3s transform ease-in-out;
          z-index: 20;
          .dl-title {
            margin-top: 0;
            margin-bottom: 10px;
            font-family: $title-font;
            font-size: 30px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.15;
            letter-spacing: normal;
            text-align: left;
          }
          .dl-paragraph {
            display: -webkit-box;
            font-family: $content-font;
            font-size: 14px;
            font-weight: 700;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.63;
            letter-spacing: normal;
            text-align: left;
            margin-bottom: 0;
            line-clamp: 3;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 65px;
            max-width: 80%;
            &::after {
              content: "";
              position: absolute;
              right: 0;
              bottom: 0;
              width: 100%;
              height: 60px;
              background: #0a0a0a;
              background: linear-gradient(360deg, #0a0a0a, #0a0a0a);
              transition: 0.3s transform ease-in-out;
            }
          }
          .dl-viewmore {
            font-family: $content-font;
            font-size: 14px;
            font-weight: 700;
            padding-bottom: 5px;
            display: inline-block;
            position: absolute;
            bottom: 15px;
            right: 20px;
            text-decoration: none;
            border-bottom: 1px solid;
            transition: 0.3s opacity ease-in-out;
            opacity: 0;
          }
        }
        @include mq(desktop) {
          width: 480px;
          display: block;
        }
        &.celebrating {
          // .dl-logo {
          // }
          .dl-celebration {
            top: 0;
            width: 100%;
            overflow: hidden;
            .frame {
              position: absolute;
              bottom: -120vh;
              h1,
              h2,
              h3 {
                font-family: $title-font;
                color: #0d4ebf;
                letter-spacing: normal;
                text-align: center;
                margin: 0;
              }
            }
            .frame1 {
              h2 {
                font-size: 56px;
                font-weight: 900;
                font-stretch: normal;
                font-style: normal;
                line-height: 0.83;
              }
              h3 {
                font-size: 48px;
                font-weight: 500;
                font-stretch: normal;
                line-height: 0.83;
                margin-bottom: 5px;
              }
            }
          }
        }
        &.view-more {
          .dl-logo,
          .dl-divider {
            opacity: 0;
          }
          .dl-hero {
            display: none;
          }
          .dl-close-viewmore {
            opacity: 1;
          }
          .dl-paragraph {
            max-height: 100%;
            line-clamp: initial;
            -webkit-line-clamp: initial;
            max-width: 100%;
            &::after {
              content: none;
            }
          }
          .dl-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .dl-container-inner {
              top: 55px;
              margin: 0 20px;
              padding: 20px;
            }
            &:hover {
              .dl-container-inner,
              .dl-divider {
                transform: none;
              }
            }
          }
          .dl-container-inner {
            max-height: 470px;
            overflow: auto;
            box-sizing: border-box;
            &::-webkit-scrollbar-thumb {
              background: #0a0a0a;
              border-radius: 10px;
            }
            &::-webkit-scrollbar {
              width: 5px;
              padding-top: 40px;
            }
            &::-webkit-scrollbar-track {
              border-radius: 10px;
              background: #fff;
            }
          }
          .dl-viewmore {
            display: none;
          }
        }
      }
      .right {
        position: relative;
        width: 100%;
        max-width: 400px;
        height: 550px;
        overflow: hidden;
        background-color: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        display: flex;
        margin: auto;
        box-sizing: border-box;
        @include mq(desktop) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          padding: 0 15px;
        }
        .dl-loading {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #0a0a0a;
          z-index: 2000;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: top 0.4s ease-in-out;
          &.is-loaded {
            top: -700px;
          }
        }
        iframe {
          width: 350px !important;
          height: 100% !important;
          margin: auto !important;
        }
      }

      .dl-logo {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        border-top-left-radius: 5px;
        max-width: 169px;
        z-index: 3000;
        transition: 0.3s opacity ease-in-out;
        @include mq(desktop) {
          display: block;
        }
      }
    }
    .dl-footer {
      color: #fff;
      margin: 12px auto;
      max-width: 350px;
      @include mq(desktop) {
        max-width: 100%;
      }
      p {
        font-size: 12px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        margin: 0;
      }
    }
  }
  .error-message {
    position: absolute;
    transition: bottom 0.3s ease-in-out;
    bottom: -100px;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100px;
    background-color: rgb(167, 8, 8);
    color: #fff;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    @include mq(desktop) {
      border-bottom-left-radius: 0;
    }
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: rgba(255, 255, 255, 0.597);
      animation: roundtime 5.3s linear forwards;
      z-index: 6;
    }
    p {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      padding: 10px 20px;
      width: 100%;
      margin: 0;
    }
    .close {
      position: relative;
      display: block;
      width: 35px;
      height: 35px;
      padding-right: 10px;
      text-indent: -100vw;
      overflow: hidden;
      box-sizing: content-box;
      border-radius: 4px;
      background: transparent;
      &:hover {
        &::before {
          transform: rotate(45deg) scale(1.5);
        }
        &::after {
          transform: rotate(-45deg) scale(1.5);
        }
      }
      &::before,
      &::after {
        transition: 0.3s transform ease-in-out,
          0.3s background-color ease-in-out;
        position: absolute;
        content: " ";
        height: 19px;
        width: 2px;
        background-color: #fff;
        left: 15px;
        top: 8px;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
    &.dl-is-visible {
      bottom: 0;
    }
  }
  &.thank-you {
    .right {
      padding: 0 !important;
      iframe {
        width: 100% !important;
      }
    }
  }
}
